In [41]:
import pandas as pd

In [44]:
df11=pd.read_csv('datas\new_asthma.csv')

OSError: [Errno 22] Invalid argument: 'datas\new_asthma.csv'

In [ ]:
df11.head()

In [43]:
df11.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2358 entries, 1 to 3639
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      2358 non-null   int64
 1   Time    2358 non-null   object
 2   Tweet   2358 non-null   object
dtypes: int64(1), object(2)
memory usage: 73.7+ KB

In [7]:
df1.sort_values("Tweet", inplace=True)

NameError: name 'df1' is not defined

In [8]:
df11.drop_duplicates(subset="Tweet",keep=False, inplace=True)

In [9]:
df11.drop_duplicates(subset="Time",keep=False, inplace=True)

In [10]:
df11.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2358 entries, 1 to 3639
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      2358 non-null   int64
 1   Time    2358 non-null   object
 2   Tweet   2358 non-null   object
dtypes: int64(1), object(2)
memory usage: 73.7+ KB

In [11]:
df11

,id,Time,Tweet
1,1550635965215113216,2023-01-30 16:29:52+00:00,b'RT @8mutualaidmem18: Ive always been immunoc...
2,938851,2023-01-30 16:29:31+00:00,"b'Commenting on winning the competition, Elean..."
3,1332677043931279360,2023-01-30 16:28:44+00:00,b'someone is smoking on the bus i swear that\x...
4,1197852392,2023-01-30 16:28:05+00:00,"b'RT @cbcwatcher: ""This is how you end up with..."
6,1016641744987799559,2023-01-30 16:27:25+00:00,"b""got lucky and got the asthma gene but i'm so..."
...,...,...,...
3635,1487674614759112705,2023-01-28 20:36:07+00:00,b'Hawks looking to reduce turnovers and return...
3636,1487674614759112705,2023-01-28 20:36:06+00:00,b'Global Eosinophilic Granulomatosis with Poly...
3637,1487674614759112705,2023-01-28 20:36:05+00:00,"b""NFL News | Fantasy Alarm https://t.co/jOEnxw..."
3638,1147905187899514881,2023-01-28 20:35:43+00:00,"b""@al33jr_ it's giving asthma \xf0\x9f\x98\xad..."
3639,1248210323464695808,2023-01-28 20:33:22+00:00,b'@pulte No! My landlord neglected a ton of ho...

In [90]:
df11.to_csv('dp_asthma.csv')

In [12]:
df2=pd.read_csv('new_nausea.csv')

In [13]:
df2.head()

,id,Time,Tweet,Location
0,id,Time,Tweet,NaN
1,1579448823893606402,2023-02-13 19:30:37+00:00,"b""RT @my_lord_saves: I'd appreciate prayers re...",NaN
2,314984964,2023-02-13 19:30:31+00:00,b'RT @Liz_Caingcoy: Brianna Ghey\xe2\x80\x99s ...,NaN
3,85859978,2023-02-13 19:30:16+00:00,b'Butyl acrylate exposure can cause eye irrita...,NaN
4,856982274,2023-02-13 19:30:14+00:00,b'@roseonyourgrave The smell of them always gi...,NaN

In [14]:
df2.drop('Location',axis=1,inplace=True)

In [15]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 976 entries, 0 to 975
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      976 non-null    object
 1   Time    976 non-null    object
 2   Tweet   976 non-null    object
dtypes: object(3)
memory usage: 23.0+ KB

In [16]:
df2.drop_duplicates(subset="Tweet",keep=False, inplace=True)

In [17]:
df2.drop_duplicates(subset="Time",keep=False, inplace=True)

In [18]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 506 entries, 0 to 974
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      506 non-null    object
 1   Time    506 non-null    object
 2   Tweet   506 non-null    object
dtypes: object(3)
memory usage: 15.8+ KB

In [45]:
df2.to_csv('dp_nau.csv')

In [19]:
df3=pd.read_csv('new_flu.csv')

In [20]:
df3.head()

,id,Time,Tweet
0,id,Time,Tweet
1,1048045674326110209,2023-02-13 19:49:13+00:00,b'@apaxezz @TNTSportsBR @claalbuquerque quando...
2,327507749,2023-02-13 19:49:13+00:00,"b'In the last six months, 225 outbreaks have b..."
3,2480147330,2023-02-13 19:49:11+00:00,"b'Back in the gym, just about flu free felt go..."
4,28856818,2023-02-13 19:49:10+00:00,"b'RT @RonPaul: Fauci -- Covid &amp; Flu ""Vacci..."

In [21]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1092 entries, 0 to 1091
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      1092 non-null   object
 1   Time    1092 non-null   object
 2   Tweet   1092 non-null   object
dtypes: object(3)
memory usage: 25.7+ KB

In [22]:
df3.drop_duplicates(subset="Tweet",keep=False, inplace=True)

In [23]:
df3.drop_duplicates(subset="Time",keep=False, inplace=True)

In [24]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 534 entries, 0 to 1091
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      534 non-null    object
 1   Time    534 non-null    object
 2   Tweet   534 non-null    object
dtypes: object(3)
memory usage: 16.7+ KB

In [25]:
df3.to_csv('dp_flu1.csv')

In [26]:
df4=pd.read_csv('new_fever.csv')

In [27]:
df4.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 873 entries, 0 to 872
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      873 non-null    int64
 1   Time    873 non-null    object
 2   Tweet   873 non-null    object
dtypes: int64(1), object(2)
memory usage: 20.6+ KB

In [28]:
df4.drop_duplicates(subset="Tweet",keep=False, inplace=True)

In [29]:
df4.drop_duplicates(subset="Time",keep=False, inplace=True)

In [30]:
df4.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 444 entries, 0 to 872
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      444 non-null    int64
 1   Time    444 non-null    object
 2   Tweet   444 non-null    object
dtypes: int64(1), object(2)
memory usage: 13.9+ KB

In [32]:
df4.to_csv('dp_fever.csv')

In [91]:
#df11 ---> 3640 to 2358

In [92]:
#df2 11940 to 8271

In [93]:
#df3 5717 to 3098

In [94]:
#df4 13978 to  5811

In [37]:
data =pd.concat([df2,df3,df4])

In [39]:
data.to_csv('dataconcat1.csv')

In [40]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1484 entries, 0 to 872
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      1484 non-null   object
 1   Time    1484 non-null   object
 2   Tweet   1484 non-null   object
dtypes: object(3)
memory usage: 46.4+ KB