In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('prepData.csv')

In [3]:
df.head()

,Unnamed: 0,id,Time,Tweet,tags,pre,words
0,0,1578527198734065664,2023-02-13 17:09:44+00:00,b'runny nose tear eyes fever headache loss of ...,fever,b runny nose tear eyes fever headache loss of ...,"['b', 'runny', 'nose', 'tear', 'eyes', 'fever'..."
1,1,49049956,2023-02-13 15:34:08+00:00,b'@katkinneywrites i have hot/cold sometimes. ...,fever,b i have hot cold sometimes usually cold means...,"['b', 'i', 'have', 'hot', 'cold', 'sometimes',..."
2,2,92341784,2023-02-13 13:57:31+00:00,b'cytomegalovirus colitis - complication when ...,fever,b cytomegalovirus colitis complication when cd...,"['b', 'cytomegalovirus', 'colitis', 'complicat..."
3,3,1179433528687239173,2023-02-13 11:38:54+00:00,b'@fatalkci l know otli and matli for nausea a...,fever,b l know otli and matli for nausea and vomitin...,"['b', 'l', 'know', 'otli', 'and', 'matli', 'fo..."
4,4,856681920,2023-02-13 01:57:45+00:00,b'went from a fever to a cough to a sore throa...,fever,b went from a fever to a cough to a sore throa...,"['b', 'went', 'from', 'a', 'fever', 'to', 'a',..."

In [12]:
df.columns

Index(['Unnamed: 0', 'id', 'Time', 'Tweet', 'tags', 'words', 'prep'], dtype='object')

In [8]:
df1=df

In [17]:
df1.drop(['tags','prep','words'],axis=1,inplace=True)

In [19]:
df1.to_csv('Final_Dataset1.csv')

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7480 entries, 0 to 7479
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  7480 non-null   int64
 1   id          7480 non-null   int64
 2   Time        7480 non-null   object
 3   Tweet       7480 non-null   object
 4   tags        7480 non-null   object
 5   pre         7480 non-null   object
 6   words       7480 non-null   object
dtypes: int64(2), object(5)
memory usage: 409.2+ KB

In [3]:
# to remove first letter 
def remove_first_character(text):
    return text[1:]

In [4]:
df['prep']=df['pre'].apply(remove_first_character)

In [5]:
df = df.applymap(lambda s: s.lower() if type(s) == str else s)

,Unnamed: 0,id,Time,Tweet,tags,pre,words,prep
0,0,1578527198734065664,2023-02-13 17:09:44+00:00,b'runny nose tear eyes fever headache loss of ...,fever,b runny nose tear eyes fever headache loss of ...,"['b', 'runny', 'nose', 'tear', 'eyes', 'fever'...",runny nose tear eyes fever headache loss of a...
1,1,49049956,2023-02-13 15:34:08+00:00,b'@katkinneywrites i have hot/cold sometimes. ...,fever,b i have hot cold sometimes usually cold means...,"['b', 'i', 'have', 'hot', 'cold', 'sometimes',...",i have hot cold sometimes usually cold means ...
2,2,92341784,2023-02-13 13:57:31+00:00,b'cytomegalovirus colitis - complication when ...,fever,b cytomegalovirus colitis complication when cd...,"['b', 'cytomegalovirus', 'colitis', 'complicat...",cytomegalovirus colitis complication when cd4...
3,3,1179433528687239173,2023-02-13 11:38:54+00:00,b'@fatalkci l know otli and matli for nausea a...,fever,b l know otli and matli for nausea and vomitin...,"['b', 'l', 'know', 'otli', 'and', 'matli', 'fo...",l know otli and matli for nausea and vomiting...
4,4,856681920,2023-02-13 01:57:45+00:00,b'went from a fever to a cough to a sore throa...,fever,b went from a fever to a cough to a sore throa...,"['b', 'went', 'from', 'a', 'fever', 'to', 'a',...",went from a fever to a cough to a sore throat...
...,...,...,...,...,...,...,...,...
7475,7475,705162643,2023-02-05 11:45:11+00:00,b'#nowplaying jump (mega banton) by dengue fev...,dengue,b jump mega banton by dengue fever riddim onli...,"['b', 'jump', 'mega', 'banton', 'by', 'dengue'...",jump mega banton by dengue fever riddim onlin...
7476,7476,63543042,2023-02-05 11:35:22+00:00,"b""rt @chris_c_chapman: blood counts still very...",dengue,b rt c chapman blood counts still very low but...,"['b', 'rt', 'c', 'chapman', 'blood', 'counts',...",rt c chapman blood counts still very low but ...
7477,7477,1273954059867701251,2023-02-05 11:30:20+00:00,b'rt @shukladeepak73: different activities by ...,dengue,b rt different activities by bccf under embed ...,"['b', 'rt', 'different', 'activities', 'by', '...",rt different activities by bccf under embed p...
7478,7478,3306545726,2023-02-05 11:26:45+00:00,"b'dengue: 1 more dies, 5 patients hospitalised...",dengue,b dengue 1 more dies 5 patients hospitalised n...,"['b', 'dengue', '1', 'more', 'dies', '5', 'pat...",dengue 1 more dies 5 patients hospitalised n#...
7479,7479,1282362054200958978,2023-02-05 11:14:11+00:00,"b""if only your name rhymed with dengue shock s...",dengue,b if only your name rhymed with dengue shock s...,"['b', 'if', 'only', 'your', 'name', 'rhymed', ...",if only your name rhymed with dengue shock sy...

In [7]:
df['tags'].value_counts()

fever      750
nausea     750
sprain     750
stroke     750
anxiety    750
flu        750
obesity    750
autism     750
asthma     750
dengue     730
Name: tags, dtype: int64

In [6]:
df.drop('pre',axis=1,inplace=True)

In [12]:
from nltk.corpus import wordnet as wn
from sentiwordnet import SentiWordNetCorpusReader

ModuleNotFoundError: No module named 'sentiwordnet'

In [16]:
from nltk.corpus import sentiwordnet as swn

ModuleNotFoundError: No module named 'swn'

In [17]:
df.drop([],axis=1,inplace=True)

In [18]:
df.head()

,id,Tweet,tags,words,prep
0,1578527198734065664,b'runny nose tear eyes fever headache loss of ...,fever,"['b', 'runny', 'nose', 'tear', 'eyes', 'fever'...",runny nose tear eyes fever headache loss of a...
1,49049956,b'@katkinneywrites i have hot/cold sometimes. ...,fever,"['b', 'i', 'have', 'hot', 'cold', 'sometimes',...",i have hot cold sometimes usually cold means ...
2,92341784,b'cytomegalovirus colitis - complication when ...,fever,"['b', 'cytomegalovirus', 'colitis', 'complicat...",cytomegalovirus colitis complication when cd4...
3,1179433528687239173,b'@fatalkci l know otli and matli for nausea a...,fever,"['b', 'l', 'know', 'otli', 'and', 'matli', 'fo...",l know otli and matli for nausea and vomiting...
4,856681920,b'went from a fever to a cough to a sore throa...,fever,"['b', 'went', 'from', 'a', 'fever', 'to', 'a',...",went from a fever to a cough to a sore throat...

In [19]:
df1=df

In [22]:
df1.drop('tags',axis=1,inplace=True)

In [23]:
df1.head()

                    id                                              Tweet
0  1578527198734065664  b'runny nose tear eyes fever headache loss of ...
1             49049956  b'@katkinneywrites i have hot/cold sometimes. ...
2             92341784  b'cytomegalovirus colitis - complication when ...
3  1179433528687239173  b'@fatalkci l know otli and matli for nausea a...
4            856681920  b'went from a fever to a cough to a sore throa...

In [ ]:
#step1 
#removal of @ and ' links'
import re
def clean_text(text):
    
    #remove links
    re.sub('@\w+','',text)
    re.sub('https?://\S+','',text)