In [1]:
import pandas as pd
import warnings
import re
from nltk.stem import WordNetLemmatizer, PorterStemmer, SnowballStemmer
warnings.filterwarnings('ignore')
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize
from nltk.util import ngrams, bigrams, trigrams

In [9]:
df=pd.read_csv('tweets_phase2_b.csv')

In [10]:
df.head()

,id,Time,Tweet
0,586751692,2023-01-19 06:23:20+00:00,b'RT @EricTopol: The benefit of vaccination af...
1,289443557,2023-01-19 06:23:17+00:00,b'My dermatologist failed me. All the skincare...
2,1512061703285972994,2023-01-19 06:23:15+00:00,"b""RT @lsmbulgari: Every bp member having their..."
3,1538589726021763072,2023-01-19 06:23:12+00:00,b'@bp_exol @roundiemimi You can simply search ...
4,1600366827359477761,2023-01-19 06:23:10+00:00,b'USA STORE ONLY:\n\nAMAZON BEST SELLER\n\nhtt...

In [11]:
stop_words_file = 'SmartStoplist.txt'

stop_words = []

with open(stop_words_file, "r") as f:
    for line in f:
        stop_words.extend(line.split()) 
        
stop_words = stop_words

In [12]:
def preprocess(raw_text):
    
    #regular expression keeping only letters 
    letters_only_text = re.sub("[^a-zA-Z]", " ", raw_text)

    # convert to lower case and split into words -> convert string into list ( 'hello world' -> ['hello', 'world'])
    words = letters_only_text.lower().split()

    cleaned_words = []
    lemmatizer = PorterStemmer() #plug in here any other stemmer or lemmatiser you want to try out
    
    # remove stopwords
    for word in words:
        if word not in stop_words:
            cleaned_words.append(word)
    
    # stemm or lemmatise words
    stemmed_words = []
    for word in cleaned_words:
        word = lemmatizer.stem(word)   #dont forget to change stem to lemmatize if you are using a lemmatizer
        stemmed_words.append(word)
    
    # converting list back to string
    return " ".join(stemmed_words)

In [13]:
df['prep'] = df['Tweet'].apply(preprocess)

In [14]:
df.head()

,id,Time,Tweet,prep
0,586751692,2023-01-19 06:23:20+00:00,b'RT @EricTopol: The benefit of vaccination af...,rt erictopol benefit vaccin covid prevent long...
1,289443557,2023-01-19 06:23:17+00:00,b'My dermatologist failed me. All the skincare...,dermatologist fail skincar xe ve invest work m...
2,1512061703285972994,2023-01-19 06:23:15+00:00,"b""RT @lsmbulgari: Every bp member having their...",rt lsmbulgari bp member bday celebr lisa lisar...
3,1538589726021763072,2023-01-19 06:23:12+00:00,b'@bp_exol @roundiemimi You can simply search ...,bp exol roundiemimi simpli search impact lv fi...
4,1600366827359477761,2023-01-19 06:23:10+00:00,b'USA STORE ONLY:\n\nAMAZON BEST SELLER\n\nhtt...,usa store namazon seller nhttp tnuqvob exfoli ...

In [15]:
df['prep']

0      rt erictopol benefit vaccin covid prevent long...
1      dermatologist fail skincar xe ve invest work m...
2      rt lsmbulgari bp member bday celebr lisa lisar...
3      bp exol roundiemimi simpli search impact lv fi...
4      usa store namazon seller nhttp tnuqvob exfoli ...
                             ...
947    rt diedsuddenli sad xe xa year die cardiac fai...
948    rt ms livyyi xe black own korean skincar store...
949     rehanjayawick youth involv polit cheer xf xf xbd
950    rt realstewpet wait time davo januari talk wor...
951    skin perfect drop skincar routin matti xf xab ...
Name: prep, Length: 952, dtype: object