In [12]:
import pandas as pd
import nltk
nltk.download('wordnet')
nltk.download('omw-1.4')
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize
from nltk.stem import WordNetLemmatizer
import re

[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\Asus\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!
[nltk_data] Downloading package omw-1.4 to
[nltk_data]     C:\Users\Asus\AppData\Roaming\nltk_data...

In [4]:
df = pd.read_csv('tweets_data.csv')
lemma = WordNetLemmatizer()
stop_words = stopwords.words('english')

In [5]:
df.head()

,id,Time,Tweet,Location
0,312322346,2022-11-08 10:14:36+00:00,"b""Let's be honest; day two of a phase 1 cancer...",London
1,42296887,2022-11-08 10:15:07+00:00,b'Pembrolizumab: English Drugs Body Recommends...,Florida
2,1356818881063473157,2022-11-08 10:15:05+00:00,"b""RT @nettybgoode: Well, @ServicesGovAU are at...",NaN
3,1570261324554293249,2022-11-08 10:15:04+00:00,b'@AlHosnApp where we can take session flu vac...,NaN
4,4836684705,2022-11-08 10:15:03+00:00,"b""RT @DFisman: Again, your immune system didn'...","Scotland, United Kingdom"

In [6]:
def text_prep(x: str) -> list:
    
    corp = str(x).lower() 
    corp = re.sub('[^a-zA-Z]+',' ', corp).strip() 
    tokens = word_tokenize(corp)
    words = [t for t in tokens if t not in stop_words]
    lemmatize = [lemma.lemmatize(w) for w in words]
    return lemmatize

In [13]:
preprocess_tag = [text_prep(i) for i in df['Tweet']]
df["preprocess_txt"] = preprocess_tag

In [14]:
df.head()

,id,Time,Tweet,Location,preprocess_txt
0,312322346,2022-11-08 10:14:36+00:00,"b""Let's be honest; day two of a phase 1 cancer...",London,"[b, let, honest, day, two, phase, cancer, tria..."
1,42296887,2022-11-08 10:15:07+00:00,b'Pembrolizumab: English Drugs Body Recommends...,Florida,"[b, pembrolizumab, english, drug, body, recomm..."
2,1356818881063473157,2022-11-08 10:15:05+00:00,"b""RT @nettybgoode: Well, @ServicesGovAU are at...",NaN,"[b, rt, nettybgoode, well, servicesgovau, day,..."
3,1570261324554293249,2022-11-08 10:15:04+00:00,b'@AlHosnApp where we can take session flu vac...,NaN,"[b, alhosnapp, take, session, flu, vaccine, pl..."
4,4836684705,2022-11-08 10:15:03+00:00,"b""RT @DFisman: Again, your immune system didn'...","Scotland, United Kingdom","[b, rt, dfisman, immune, system, go, flabby, f..."

In [25]:



import pandas as pd
import nltk
nltk.download('wordnet')
nltk.download('omw-1.4')

[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\Asus\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!
[nltk_data] Downloading package omw-1.4 to
[nltk_data]     C:\Users\Asus\AppData\Roaming\nltk_data...
[nltk_data]   Package omw-1.4 is already up-to-date!

True

In [15]:
df['total_len'] = df['preprocess_txt'].map(lambda x: len(x))

In [16]:
df.head()

,id,Time,Tweet,Location,preprocess_txt,total_len
0,312322346,2022-11-08 10:14:36+00:00,"b""Let's be honest; day two of a phase 1 cancer...",London,"[b, let, honest, day, two, phase, cancer, tria...",18
1,42296887,2022-11-08 10:15:07+00:00,b'Pembrolizumab: English Drugs Body Recommends...,Florida,"[b, pembrolizumab, english, drug, body, recomm...",19
2,1356818881063473157,2022-11-08 10:15:05+00:00,"b""RT @nettybgoode: Well, @ServicesGovAU are at...",NaN,"[b, rt, nettybgoode, well, servicesgovau, day,...",15
3,1570261324554293249,2022-11-08 10:15:04+00:00,b'@AlHosnApp where we can take session flu vac...,NaN,"[b, alhosnapp, take, session, flu, vaccine, pl...",8
4,4836684705,2022-11-08 10:15:03+00:00,"b""RT @DFisman: Again, your immune system didn'...","Scotland, United Kingdom","[b, rt, dfisman, immune, system, go, flabby, f...",16

In [18]:
file = open('negative-words.txt', 'r')
neg_words = file.read().split()
file = open('positive-words.txt', 'r')
pos_words = file.read().split()

In [19]:
num_pos = df['preprocess_txt'].map(lambda x: len([i for i in x if i in pos_words]))
df['pos_count'] = num_pos
num_neg = df['preprocess_txt'].map(lambda x: len([i for i in x if i in neg_words]))
df['neg_count'] = num_neg

In [20]:
df.head()

,id,Time,Tweet,Location,preprocess_txt,total_len,pos_count,neg_count
0,312322346,2022-11-08 10:14:36+00:00,"b""Let's be honest; day two of a phase 1 cancer...",London,"[b, let, honest, day, two, phase, cancer, tria...",18,2,2
1,42296887,2022-11-08 10:15:07+00:00,b'Pembrolizumab: English Drugs Body Recommends...,Florida,"[b, pembrolizumab, english, drug, body, recomm...",19,0,1
2,1356818881063473157,2022-11-08 10:15:05+00:00,"b""RT @nettybgoode: Well, @ServicesGovAU are at...",NaN,"[b, rt, nettybgoode, well, servicesgovau, day,...",15,1,1
3,1570261324554293249,2022-11-08 10:15:04+00:00,b'@AlHosnApp where we can take session flu vac...,NaN,"[b, alhosnapp, take, session, flu, vaccine, pl...",8,0,0
4,4836684705,2022-11-08 10:15:03+00:00,"b""RT @DFisman: Again, your immune system didn'...","Scotland, United Kingdom","[b, rt, dfisman, immune, system, go, flabby, f...",16,1,1

In [21]:
df['sentiment'] = round((df['pos_count'] - df['neg_count']) / df['total_len'], 2)

In [27]:
df

,id,Time,Tweet,Location,preprocess_txt,total_len,pos_count,neg_count,sentiment,semi_normalization
0,312322346,2022-11-08 10:14:36+00:00,"b""Let's be honest; day two of a phase 1 cancer...",London,"[b, let, honest, day, two, phase, cancer, tria...",18,2,2,0.00,0.0
1,42296887,2022-11-08 10:15:07+00:00,b'Pembrolizumab: English Drugs Body Recommends...,Florida,"[b, pembrolizumab, english, drug, body, recomm...",19,0,1,-0.05,-0.5
2,1356818881063473157,2022-11-08 10:15:05+00:00,"b""RT @nettybgoode: Well, @ServicesGovAU are at...",NaN,"[b, rt, nettybgoode, well, servicesgovau, day,...",15,1,1,0.00,0.0
3,1570261324554293249,2022-11-08 10:15:04+00:00,b'@AlHosnApp where we can take session flu vac...,NaN,"[b, alhosnapp, take, session, flu, vaccine, pl...",8,0,0,0.00,0.0
4,4836684705,2022-11-08 10:15:03+00:00,"b""RT @DFisman: Again, your immune system didn'...","Scotland, United Kingdom","[b, rt, dfisman, immune, system, go, flabby, f...",16,1,1,0.00,0.0
...,...,...,...,...,...,...,...,...,...,...
1575,270679047,2022-11-08 10:00:14+00:00,b'Even your most long-term bonds you perhaps t...,montgomery ala,"[b, even, long, term, bond, perhaps, take, gra...",13,0,1,-0.08,-0.5
1576,463838653,2022-11-08 10:00:14+00:00,b'Even your most long-term bonds you perhaps t...,freedom syria,"[b, even, long, term, bond, perhaps, take, gra...",14,0,1,-0.07,-0.5
1577,1221022807980638208,2022-11-08 10:00:14+00:00,b'RT @DDA_Denmark: THE DDEA BOARD OF DIRECTORS...,"Copenhagen, Denmark","[b, rt, dda, denmark, ddea, board, director, n...",21,0,0,0.00,0.0
1578,175605539,2022-11-08 10:00:14+00:00,b'Even your most long-term bonds you perhaps t...,NaN,"[b, even, long, term, bond, perhaps, take, gra...",14,0,1,-0.07,-0.5
1579,281264917,2022-11-08 10:00:13+00:00,b'Even your most long-term bonds you perhaps t...,NaN,"[b, even, long, term, bond, perhaps, take, gra...",13,0,1,-0.08,-0.5

### Using Positive and Negative Word Counts – With Semi Normalization to calculate Sentiment Score

In [23]:
df['semi_normalization'] = round((df['pos_count'] - df['neg_count']) / (df['neg_count']+1), 2)

In [26]:
df

,id,Time,Tweet,Location,preprocess_txt,total_len,pos_count,neg_count,sentiment,semi_normalization
0,312322346,2022-11-08 10:14:36+00:00,"b""Let's be honest; day two of a phase 1 cancer...",London,"[b, let, honest, day, two, phase, cancer, tria...",18,2,2,0.00,0.0
1,42296887,2022-11-08 10:15:07+00:00,b'Pembrolizumab: English Drugs Body Recommends...,Florida,"[b, pembrolizumab, english, drug, body, recomm...",19,0,1,-0.05,-0.5
2,1356818881063473157,2022-11-08 10:15:05+00:00,"b""RT @nettybgoode: Well, @ServicesGovAU are at...",NaN,"[b, rt, nettybgoode, well, servicesgovau, day,...",15,1,1,0.00,0.0
3,1570261324554293249,2022-11-08 10:15:04+00:00,b'@AlHosnApp where we can take session flu vac...,NaN,"[b, alhosnapp, take, session, flu, vaccine, pl...",8,0,0,0.00,0.0
4,4836684705,2022-11-08 10:15:03+00:00,"b""RT @DFisman: Again, your immune system didn'...","Scotland, United Kingdom","[b, rt, dfisman, immune, system, go, flabby, f...",16,1,1,0.00,0.0
...,...,...,...,...,...,...,...,...,...,...
1575,270679047,2022-11-08 10:00:14+00:00,b'Even your most long-term bonds you perhaps t...,montgomery ala,"[b, even, long, term, bond, perhaps, take, gra...",13,0,1,-0.08,-0.5
1576,463838653,2022-11-08 10:00:14+00:00,b'Even your most long-term bonds you perhaps t...,freedom syria,"[b, even, long, term, bond, perhaps, take, gra...",14,0,1,-0.07,-0.5
1577,1221022807980638208,2022-11-08 10:00:14+00:00,b'RT @DDA_Denmark: THE DDEA BOARD OF DIRECTORS...,"Copenhagen, Denmark","[b, rt, dda, denmark, ddea, board, director, n...",21,0,0,0.00,0.0
1578,175605539,2022-11-08 10:00:14+00:00,b'Even your most long-term bonds you perhaps t...,NaN,"[b, even, long, term, bond, perhaps, take, gra...",14,0,1,-0.07,-0.5
1579,281264917,2022-11-08 10:00:13+00:00,b'Even your most long-term bonds you perhaps t...,NaN,"[b, even, long, term, bond, perhaps, take, gra...",13,0,1,-0.08,-0.5