In [1]:
import pandas as pd

In [24]:
anemia=pd.read_csv('anemia.csv')

In [25]:
asthma=pd.read_csv('asthma.csv')

In [26]:
anxiety=pd.read_csv('axiety.csv')

In [27]:
allergy=pd.read_csv('allergy.csv')

In [28]:
fever=pd.read_csv('fever.csv')

In [29]:
flu=pd.read_csv('flu.csv')

In [30]:
nausea=pd.read_csv('nausea.csv')

In [31]:
pneumonia=pd.read_csv('pneumonia.csv')

In [32]:
sinus=pd.read_csv('sinus.csv')

In [33]:
data=pd.concat([anemia,asthma,anxiety,allergy,fever,flu,nausea,pneumonia,sinus])

In [34]:
data.head()

,Unnamed: 0,id,Time,Tweet
0,1,2447961475,2023-02-14 16:40:12+00:00,b'.@CDCgov report: Too few US children with #s...
1,5,1333374505931198466,2023-02-14 16:38:01+00:00,b'eu tava fazendo questao de anemia ai dormi e...
2,7,204970444,2023-02-14 16:37:25+00:00,b'la verdad es que ando tan cansada que no se ...
3,9,1593276163132112897,2023-02-14 16:37:12+00:00,b'Even before my ed I have been struggling wit...
4,13,1230594840255225863,2023-02-14 16:36:09+00:00,"b'Bueno, por culpa de estar menstruando, la an..."

In [35]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4020 entries, 0 to 411
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  4020 non-null   int64
 1   id          4020 non-null   object
 2   Time        4020 non-null   object
 3   Tweet       4020 non-null   object
dtypes: int64(1), object(3)
memory usage: 157.0+ KB

In [36]:
data1=data.drop('Unnamed: 0',axis=1)

In [37]:
data1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4020 entries, 0 to 411
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      4020 non-null   object
 1   Time    4020 non-null   object
 2   Tweet   4020 non-null   object
dtypes: object(3)
memory usage: 125.6+ KB

In [38]:
data1.head()

,id,Time,Tweet
0,2447961475,2023-02-14 16:40:12+00:00,b'.@CDCgov report: Too few US children with #s...
1,1333374505931198466,2023-02-14 16:38:01+00:00,b'eu tava fazendo questao de anemia ai dormi e...
2,204970444,2023-02-14 16:37:25+00:00,b'la verdad es que ando tan cansada que no se ...
3,1593276163132112897,2023-02-14 16:37:12+00:00,b'Even before my ed I have been struggling wit...
4,1230594840255225863,2023-02-14 16:36:09+00:00,"b'Bueno, por culpa de estar menstruando, la an..."

In [39]:
data1.to_csv('data_final.csv')