In [1]:
import pandas as pd

In [2]:
final_data= pd.read_csv('final.csv')

In [3]:
final_data.head()

,Unnamed: 0,id,Time,Tweet
0,0,1591420715043291136,2023-02-14 17:55:37+00:00,b'RT @Un_mi2471: Join New Meditation Method. A...
1,1,1591420715043291136,2023-02-14 17:55:35+00:00,b'RT @Un_mi2471: Join New Meditation Method. A...
2,2,1591420715043291136,2023-02-14 17:55:33+00:00,b'RT @Un_mi2471: Join New Meditation Method. A...
3,3,1591420715043291136,2023-02-14 17:55:31+00:00,b'RT @Un_mi2471: Join New Meditation Method. A...
4,4,1591420715043291136,2023-02-14 17:55:27+00:00,b'RT @Un_mi2471: Join New Meditation Method. A...

In [4]:
final_data.drop_duplicates(subset="Tweet",keep=False, inplace=True)

In [5]:
final_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 30577 entries, 6 to 65376
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  30577 non-null  int64
 1   id          30577 non-null  object
 2   Time        30577 non-null  object
 3   Tweet       30577 non-null  object
dtypes: int64(1), object(3)
memory usage: 1.2+ MB

In [6]:
final_data

,Unnamed: 0,id,Time,Tweet
6,6,4047408077,2023-02-14 17:55:24+00:00,b'@oljog1 Had one for my asthma'
10,10,3320788901,2023-02-14 17:55:18+00:00,"b'@Native3rd Deep breathing, mindfulness, and ..."
15,15,4039664782,2023-02-14 17:55:08+00:00,b'@FordF35022 @black_gato_xy @krassenstein Als...
18,18,62240256,2023-02-14 17:55:00+00:00,b'#GenericTiotropium Inhalation Powder Capsule...
75,75,1510427631249887238,2023-02-14 17:52:16+00:00,b'@TracyElrod5 And those were all useless. We ...
...,...,...,...,...
65371,2883,1476742116,2023-02-14 15:52:23+00:00,b'Learning #Disabilities and Disorders: Types ...
65372,2884,334714751,2023-02-14 15:52:16+00:00,b'This tweet is to remind myself that whatever...
65373,2885,729753956843323392,2023-02-14 15:52:15+00:00,b'@nainboruto No I disagree with the merging o...
65375,2887,23563381,2023-02-14 15:52:06+00:00,b'i took a couple autism quizzes online today....
65376,2888,1359489880812847106,2023-02-14 15:51:59+00:00,b'@csimons3 @hollie110 @JesusIsLord2222 @Arlen...

In [7]:
final_data.to_csv('final_data.csv')