In [1]:
import pandas as pd

### asthma

In [63]:
asthma_data=pd.read_csv('n_asthma.csv')

In [64]:
asthma_data.head()

,id,Time,Tweet
0,845658145,2023-02-14 15:40:38+00:00,b'RT @NIHRCRN_yorks: A patient in Yorkshire an...
1,1169775415,2023-02-14 15:40:12+00:00,"b'STEELE Water Fact- When dehydrated, airways ..."
2,837186017501331456,2023-02-14 15:39:49+00:00,"b""@ShieldMouse NO BC I'M CRYING LIKE IM ABT TO..."
3,1281186137109925893,2023-02-14 15:39:48+00:00,"b'""Love is in the air""\n\nAsthma patients : ht..."
4,2976676220,2023-02-14 15:39:44+00:00,b'Tigas ulo nag mango shake pa ako. Tonsilliti...

In [72]:
asthma_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 532 entries, 1 to 870
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      532 non-null    int64
 1   Time    532 non-null    object
 2   Tweet   532 non-null    object
dtypes: int64(1), object(2)
memory usage: 16.6+ KB

In [73]:
asthma_data.drop_duplicates(subset="Tweet",keep=False, inplace=True)

In [74]:
asthma_data.drop_duplicates(subset="Time",keep=False, inplace=True)

In [75]:
asthma_data.to_csv('asthma.csv')

## dengue

In [121]:
dengue_data=pd.read_csv('n_dengue.csv')

In [126]:
dengue_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4491 entries, 3 to 8482
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      4491 non-null   object
 1   Time    4491 non-null   object
 2   Tweet   4491 non-null   object
dtypes: object(3)
memory usage: 140.3+ KB

In [123]:
dengue_data.drop_duplicates(subset="Tweet",keep=False, inplace=True)

In [124]:
dengue_data.drop_duplicates(subset="Time",keep=False, inplace=True)

In [125]:
dengue_data.to_csv('dengue.csv')

### nausea

In [71]:
nausea_data=pd.read_csv('n_nausea.csv')

In [79]:
nausea_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 316 entries, 0 to 483
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      316 non-null    int64
 1   Time    316 non-null    object
 2   Tweet   316 non-null    object
dtypes: int64(1), object(2)
memory usage: 9.9+ KB

In [77]:
nausea_data.drop_duplicates(subset="Tweet",keep=False, inplace=True)

In [78]:
nausea_data.drop_duplicates(subset="Time",keep=False, inplace=True)

In [81]:
nausea_data.to_csv('nausea.csv')

## sinus

In [82]:
sinus_data=pd.read_csv('n_sinus.csv')

In [86]:
sinus_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1039 entries, 0 to 1451
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      1039 non-null   int64
 1   Time    1039 non-null   object
 2   Tweet   1039 non-null   object
dtypes: int64(1), object(2)
memory usage: 32.5+ KB

In [84]:
sinus_data.drop_duplicates(subset="Tweet",keep=False, inplace=True)

In [85]:
sinus_data.drop_duplicates(subset="Time",keep=False, inplace=True)

In [87]:
sinus_data.to_csv('sinus.csv')

In [88]:
si=pd.read_csv('sinus.csv')

In [89]:
si.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 412 entries, 0 to 411
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  412 non-null    int64
 1   id          412 non-null    float64
 2   Time        412 non-null    object
 3   Tweet       412 non-null    object
dtypes: float64(1), int64(1), object(2)
memory usage: 13.0+ KB

## anemia

In [113]:
anemia_data=pd.read_csv('n_anemia.csv')

In [117]:
anemia_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 679 entries, 1 to 1362
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      679 non-null    int64
 1   Time    679 non-null    object
 2   Tweet   679 non-null    object
dtypes: int64(1), object(2)
memory usage: 21.2+ KB

In [115]:
anemia_data.drop_duplicates(subset="Tweet",keep=False, inplace=True)

In [116]:
anemia_data.drop_duplicates(subset="Time",keep=False, inplace=True)

In [118]:
anemia_data.to_csv('anemia.csv')

## autism

In [119]:
autism_data= pd.read_csv('n_autism.csv')

In [120]:
autism_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5302 entries, 0 to 5301
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      5302 non-null   int64
 1   Time    5302 non-null   object
 2   Tweet   5302 non-null   object
dtypes: int64(1), object(2)
memory usage: 124.4+ KB

In [40]:
autism_data.to_csv('autism.csv')

## fever

In [90]:
fever_data=pd.read_csv('n_fever.csv')

In [95]:
fever_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 333 entries, 0 to 642
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      333 non-null    int64
 1   Time    333 non-null    object
 2   Tweet   333 non-null    object
dtypes: int64(1), object(2)
memory usage: 10.4+ KB

In [92]:
fever_data.drop_duplicates(subset="Tweet",keep=False, inplace=True)

In [93]:
fever_data.drop_duplicates(subset="Time",keep=False, inplace=True)

In [94]:
fever_data.to_csv('fever.csv')

## flu

In [96]:
flu_data=pd.read_csv('n_flu.csv')

In [101]:
flu_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 409 entries, 0 to 767
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      409 non-null    int64
 1   Time    409 non-null    object
 2   Tweet   409 non-null    object
dtypes: int64(1), object(2)
memory usage: 12.8+ KB

In [98]:
flu_data.drop_duplicates(subset="Tweet",keep=False, inplace=True)

In [99]:
flu_data.drop_duplicates(subset="Time",keep=False, inplace=True)

In [100]:
flu_data.to_csv('flu.csv')

## pneumonia

In [110]:
pneumonia_data=pd.read_csv('n_pneumonia.csv')

In [111]:
pneumonia_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 268 entries, 0 to 267
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      268 non-null    object
 1   Time    268 non-null    object
 2   Tweet   268 non-null    object
dtypes: object(3)
memory usage: 6.4+ KB

In [112]:
pneumonia_data.to_csv('pneumonia.csv')

In [127]:
anxiety_data=pd.read_csv('n_anxiety.csv')

In [131]:
anxiety_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 688 entries, 0 to 1357
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      688 non-null    object
 1   Time    688 non-null    object
 2   Tweet   688 non-null    object
dtypes: object(3)
memory usage: 21.5+ KB

In [129]:
anxiety_data.drop_duplicates(subset="Tweet",keep=False, inplace=True)

In [130]:
anxiety_data.drop_duplicates(subset="Time",keep=False, inplace=True)

In [132]:
anxiety_data.to_csv('axiety.csv')

In [133]:
indigestion_data=pd.read_csv('n_indigestion.csv')

In [137]:
indigestion_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2390 entries, 0 to 3243
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      2390 non-null   int64
 1   Time    2390 non-null   object
 2   Tweet   2390 non-null   object
dtypes: int64(1), object(2)
memory usage: 74.7+ KB

In [135]:
indigestion_data.drop_duplicates(subset="Tweet",keep=False, inplace=True)

In [136]:
indigestion_data.drop_duplicates(subset="Time",keep=False, inplace=True)

In [138]:
allergy_data=pd.read_csv('n_allergy.csv')

In [142]:
allergy_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 857 entries, 0 to 1457
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      857 non-null    int64
 1   Time    857 non-null    object
 2   Tweet   857 non-null    object
dtypes: int64(1), object(2)
memory usage: 26.8+ KB

In [140]:
allergy_data.drop_duplicates(subset="Tweet",keep=False, inplace=True)

In [141]:
allergy_data.drop_duplicates(subset="Time",keep=False, inplace=True)

In [143]:
allergy_data.to_csv('allergy.csv')